{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div>
    <h2 class="mt-2">{% translate 'Labels' %}:</h2>
    <a href="{% url 'create_label' %}" class="btn btn-primary mt-2" role="button" >{% translate 'Create new label' %}</a>

    {% if object_list %}

    <table class="table mt-1">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Data creation' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for label in object_list %}
                <tr>
                <th scope="row">{{ label.pk }}</th>
                <th >{{ label.name }}</th>
                <th >{{ label.created }}</th>
                <th>
                    <a type="button" class="btn btn-sm btn-primary ms-auto "
                       href="{% url 'update_label' label.pk %}"
                       role="button">{% translate 'Edit' %}</a>
                    <a type="button" class="btn btn-sm btn-danger ms-auto" href="{% url 'delete_label' label.pk %}"
                       role="button">{% translate 'Delete' %}</a>
                </th>
        </tr>
        </tbody>
        {% endfor %}
                </table>
    {% endif %}
</div>
{% endblock %}
