{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div>
    <h2 class="mt-2">{% translate 'Statuses:' %}</h2>
    <a href="{% url 'create_status' %}" class="btn btn-primary mt-2" role="button">{% translate 'Create status' %}</a>

    {% if object_list %}
        <table class="table">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Data creation' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for status in object_list %}
        <tr>
                <th scope="row">{{ status.pk }}</th>
                <th >{{ status.name }}</th>
                <th >{{ status.created }}</th>
                <th>
                    <a type="button" class="btn btn-sm btn-primary ms-auto "
                       href="{% url 'update_status' status.pk %}"
                       role="button">{% translate 'Edit' %}</a>
                    <a type="button" class="btn btn-sm btn-danger ms-auto" href="{% url 'delete_status' status.pk %}"
                       role="button">{% translate 'Delete' %}</a>
                </th>
        </tr>
        </tbody>

        {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
