{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container col-6 mt-3">
<h1>Регистрация</h1>
<form>
    <div class="form-group">
        <label for="input_name">Имя</label>
        <input type="text" class="form-control" id="input_name" placeholder="Имя">
    </div>
    <div class="form-group">
        <label for="input_surname">Фамилия</label>
        <input type="text" class="form-control" id="input_surname" placeholder="Фамилия">
    </div>
    <div class="form-group">
        <label for="input_nickname">Имя пользователя</label>
        <input type="text" class="form-control" id="input_nickname" placeholder="Имя пользователя">
        <small id="nicknameHelp" class="form-text text-muted">
            Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.
        </small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
        <small id="passwordHelp" class="form-text text-muted">
            Ваш пароль должен содержать как минимум 3 символа.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Подтверждение пароля</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Подтверждение пароля">
        <small id="passwordHelp2" class="form-text text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
    </div>
    <button type="submit" class="btn btn-success">Зарегистрировать</button>
</form>
</div>
{% endblock %}