{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load bootstrap5 %}
<div class="container col-6 mt-3">
<h1>Регистрация</h1>
<form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Зарегистрировать</button>
<!--    <div class="form-group mb-3">-->
<!--        <label for="input_name">Имя</label>-->
<!--        <input type="text" class="form-control" id="input_name" placeholder="Имя" name="username">-->
<!--    </div>-->
<!--    <div class="form-group mb-3">-->
<!--        <label for="input_surname">Фамилия</label>-->
<!--        <input type="text" class="form-control" id="input_surname" placeholder="Фамилия" name="surname">-->
<!--    </div>-->
<!--    <div class="form-group mb-2">-->
<!--        <label for="input_nickname">Никнейм</label>-->
<!--        <input type="text" class="form-control" id="input_nickname" placeholder="Никнейм" name="nickname">-->
<!--        <small id="nicknameHelp" class="form-text text-muted">-->
<!--            Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.-->
<!--        </small>-->
<!--    </div>-->
<!--    <div class="form-group mb-2">-->
<!--        <label for="exampleInputPassword1">Пароль</label>-->
<!--        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="password">-->
<!--        <small id="passwordHelp" class="form-text text-muted">-->
<!--            Ваш пароль должен содержать как минимум 3 символа.</small>-->
<!--    </div>-->
<!--    <div class="form-group mb-2">-->
<!--        <label for="exampleInputPassword2">Подтверждение пароля</label>-->
<!--        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Подтверждение пароля" name="password2">-->
<!--        <small id="passwordHelp2" class="form-text text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-success">Зарегистрировать</button>-->
</form>
</div>
{% endblock %}