{% extends 'base.html' %}
{% block content %}

<div class="container wrapper flex-grow-1">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h1 class="my-4">Users</h1>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {% for x in all_users %}
                        <a href="{% url 'update_user'  x.pk  %}" class="list-group-item list-group-item-action">
                            {{ x.username }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}