{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load bootstrap5 %}
    <div class="container m-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'update_user' pk %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'delete_user' pk %}" class="btn btn-danger">Delete account</a>
                </form>
            </div>

        </div>
    </div>
{% endblock %}