{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load bootstrap5 %}

<div>
    <h2 class="mt-2">{% translate 'Update task' %} "{{object}}"</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div>{% bootstrap_field form.name %}</div>
        <div>{% bootstrap_field form.description %}</div>
        <div>{% bootstrap_field form.workers %}</div>
        <div>{% bootstrap_field form.status %}</div>
        <div>{% bootstrap_field form.label field_class=multiple %}</div>
        <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
    </form>
</div>
{% endblock %}
